# =========================
# Node / TypeScript
# =========================
node_modules/
dist/
build/
coverage/

# =========================
# Logs
# =========================
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# *.log

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# TypeScript
# =========================
# *.tsbuildinfo

# =========================
# Runtime files
# =========================
# *.pid
# *.seed
# *.pid.lock

# =========================
# OS / Editor
# =========================
# .DS_Store
# Thumbs.db

# =========================
# IDEs
# =========================
# .vscode/
# !.vscode/extensions.json
# !.vscode/settings.json

# .idea/
# *.swp
# *.swo

# =========================
# Testing
# =========================
# .nyc_output/

# =========================
# Misc
# =========================
# .cache/
# .temp/
# tmp/
